.navigationContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  background-color: #151313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.topSection,
.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerSection {
  flex-grow: 1;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

  .serverIcon {
    &:hover {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
}

.serverIcon {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px solid rgb(187, 163, 119);
}

.line {
  height: 2px;
  width: calc(100% - 20px);
  background-color: #ae9d00;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
