$primaryColor: #4caf50;

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;

  h1 {
    font-size: 8em;
    font-weight: bold;
  }
}

.authActions {
  display: flex;
  justify-content: center;
}
